[user]
	name = Atsushi Iwasa
	email = a-iwasa@biglobe.co.jp
[core]
    editor=/Applications/Emacs.app/Contents/MacOS/bin/emacsclient
	excludesfile = /Users/Atsushi/.gitignore_global
[merge]
    keepBackup = false;
    tool = p4merge
	#ff = false
	ff = true
[mergetool "p4merge"]
    cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
    keepTemporaries = false
    trustExitCode = false
    keepBackup = false
[diff]
    # external = p4diff
[difftool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[color]
	ui = true
[alias]
    logg = log --stat --pretty=format:'%Cblue%h %Cgreen%ar %Cred%an %Creset%s %Cred%d'
    loggr = log --graph --date-order --pretty=format:'%Cblue%h %Cgreen%ci %Cred%an %Cblue%m %Creset%s %Cred%d'