.Trash/
.adobe/
.android/
/Desktop/
/Documents/
/Downloads/
/JoJo/
/Library/
/Movies/
/Music/
/Pictures/
/VM/
/Public/
/git/
/github/
/log/
/share/
/svn/
.Genymobile/
.astah/
.filezilla/
.gem/
.heroku/
.irb_history
.bash_history/
.itmstransporter/
.jenkins/
.lesshst
/.local/
.macports/
.putty/
.CFUserTextEncoding
.mcafee/
.netrc
.ovftool.ssldb
.rbenv/
.recently-used
*.BAK
/.shsh/
/.swt/
.subversion/
.bash_history
.skk-record
.sqlite_history
.wps.pid
.zcompdump
Adobe Acrobat XI Pro/
EffectiveJava.pdf
/Google*/
/lib/
*.ipa
checker-269/
checker-274/
.zsh_history
*~